.logo > img {
    width: 100%;
}
.logo{
    //background-image: url();
    height: 50px !important;
    width: 80px!important;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border-radius:49%;
    padding: 3px;
    /*position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 150px;*/
    flex-grow: 0;
}
.marLeft{

}
a, a:focus, a:visited, a:active,a:hover{
    color: white;
    text-decoration: none;
}
,
.profile a, .profile a:focus, .profile a:visited,.profile  a:active,.profile a:hover{
    color: white !important;
}
a.open , a.open:focus, a.open:visited, a.open:active,a.open:hover{
    color: black !important;
}
a.open , a.open:focus, a.open:visited, a.open:active,a.open:hover,
.openmenu a , .openmenu a:focus, .openmenu a:visited, .openmenu a:active,.openmenu a:hover{
    color: black !important;
}
.videoKeeper{
    position: relative;
    min-height: 500px;
}
.is_overlay{ display: block; width: 100%; height: 100%; }
#trailer {

    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    filter: brightness(55%);
    position: absolute;

    width: 100%;
    height: 100%;

}
.header{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    flex-wrap: wrap;
    width: 100%;
    color: white;

}
#trailer  video {
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;*/


    /*height: 100%;*/
}
.menu{
    padding-top: 15px;
    color: white;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.menu .elems{
    display: flex;
    justify-content: center;
    height: 50px !important;
    align-items: center;
}
body{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.arrow{
    width: 10px !important;
    height: 10px;
    transform: rotate(-45deg);
    border-radius: 2px;
    background-color: transparent;
    border: 3px solid;
    border-color: white;
    border-top: none;
    border-right: none;

}
.open .arrow{
    width: 10px !important;
    height: 10px;
    transform: rotate(-45deg);
    border-radius: 2px;
    background-color: transparent;
    /* display: inline-block; */
    border: 3px solid;
    border-color: black;
    /* z-index: 1000; */
    border-bottom: none;
    border-left: none;
    margin-top: 5px;
}
.menu .elems div{
    display: flex;
    margin-right: 15px;

}
.menu  .link.open{
    background-color: white;
    color:black;
}
.bordered{
    border: 1px solid  white ;
    border-radius: 4px;
}
.link{
    padding: 12px 15px;
    /* vertical-align: inherit; */
    display: flex;
    /* height: 40px; */
    justify-content: inherit;
}
.link p {
    /* line-height: 40px; */
    margin: 0;
}
.nameLink{
    margin-right: 10px !important;
}
.block{
    width: 100%;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}
.marTop50{
    margin-top: 50px;
}
.marTop32{
    margin-top: 32px;
}
.marTop24{
    margin-top: 24px;
}
.block .title{
    color:#a0c510;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}
.block .downtitle{
    color:white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 32px;
    margin-bottom: 0;
}
.block .head-block{
    width: 100%;
}
.block .form-block .btn{
    border-radius: 4px;
    background-color: #a0c510;

    font-weight: bold;
    color: white;
    height: 40px;
}
.block .form-block .search-input{
    display: flex;
    background-color: white;
    border-radius: 8px;
    padding: 4px;
    padding-left: 16px;
    justify-content: space-between;
    width: 100%;
}
.block .form-block .search-input .btn{

    font-size: 16px;
}
.block .form-block .phone-input .btn{
    background-color: #5d3f8e;
    font-size: 14px;
    flex-basis:120px;
    padding: 0;
    line-height: inherit;
}
.block .form-block .phone-input{
    display: flex;
    background-color: white;
    border-radius: 8px;
    padding: 4px;
    padding-left: 16px;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    text-align: center;
    line-height: inherit;
}
    .block .helpers u{
        text-decoration: none;
        border-bottom: 1px rgba(255, 255, 255, 0.8) solid;
        padding-bottom: 1px;
    }
    .block .helpers{
        padding-top: 8px;
        font-size: 14px;
        display: flex;
        font-weight: normal;
        color:rgba(255, 255, 255, 0.8);
}
    .block .small{
        max-width: 343px;
    }
    .block .large{
        max-width: 574px;
    }
    .block .form-block{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    }
    .block .form-block  input{
        border: none;

    }
.block .form-block .search-input input{

    font-size: 16px;

}
.block .form-block .phone-input input{
    width: 60%;
    font-size: 14px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.4);

}
.block .form-block .phone-input input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.4);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 0, 0, 0.4);
}
.openmenu{
    position: absolute;
    display: flex;
    color: rgba(0, 0, 0, 0.64);
    background-color: white;
    margin-top: 50px;

    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.openmenu a{
    padding-top: 16px;
    padding-left:  16px;
    padding-right:   16px;
}
.openmenu .empty{
    height: 20px;
    position: absolute;
    top: -12px;
    width: 170px;
    z-index: 1;
    background-color: white;
}
.openmenu .categories{
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 8px;
    padding-bottom: 16px;
    margin-right: 0 !important;
}
.openmenu .underCategories{
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: 0 !important;
    padding-bottom: 16px;
    color: black;
    font-weight: normal;
}
.openmenu .listMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0 !important;


}
.categories .active{
color:#a0c510  !important;
}
.nameLink img{
    margin-right: 4px;
}
input {outline:none;}
.page-nav{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #eeeeee;
}
.page{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.categories a:hover{
    color:#a0c510 !important;
}
.gray{

    background-color: #fafafa;
}
section .section-header{
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 24px;
    display: flex;
    width: 100%;
    justify-content: center;
    color: rgba(0, 0, 0, 0.87);;
}
section .item{
    display: flex;
    flex-direction: column;

    text-align: center;
}
.item.small p{
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}
.item.small{

    border-radius: 8px;
    width: 155px;
height: 140px;
    padding-bottom: 11px;
    color: rgba(0, 0, 0, 0.87);
}
.item.small:hover{
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    color: #5d3f8e;
}
.item.large img{
    margin-bottom: 24px;
    height: 60px;
    margin-right: 1px;

}
.item.large{
padding: 0 40px;
}
.item-header{
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 8px;
}
.link.ico{
    padding-left: 4px;
}
.nowpar{
    flex-wrap: nowrap;
}
.item-text{
    font-weight: normal;

}
.small img{
    padding: 0 25px ;
    height: 88px;
    margin-right: 1px;

}
section.how{
    padding-bottom: 28px;
}
section .block{
    padding: 0 20px;
    justify-content: center;
    padding-bottom: 40px;
}
.page section{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

}
.nav-item .nav-arrow{
    position: relative;
    top: 2px;
    width: 8px !important;
    height: 8px;
    transform: rotate(-45deg);
    border-radius: 1px;
    background-color: transparent;
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.4);
    border-top: none;
    border-left: none;
}
.nav-item{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
}
.nav-ico img{
    max-height: 100%;
    width: auto;
}
.nav-name{
    max-width: 200px;
    padding: 15px 10px 12px 27px;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}
.nav-ico{
    display: flex;
    align-items: center;
    margin-left: 40px;
    height: 80px;
    max-width: 150px;
}
.phone-img{
    position: relative;
    top: -24px;
}
.help .item-text{
    font-size: 16px;
    padding-bottom: 32px;
}
.help{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
.help .section-header{
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 86px;
}
.container{
    justify-content: space-between !important;
}
.footer .block{
    flex-direction: column;
    justify-content: space-between;
}
.footer {
    background-color: #363535;
}
.footer .container{
    background-color: #363535;
    display: flex;
    color:white ;
    align-items: flex-end;
    flex-wrap: wrap;
}
.short{
    height: 374px;
}

.footer .row{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 12px;
}
.items{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0px !important;
}
.list .item-text img{
vertical-align: baseline;
}
.list .item-text p{
    margin: 0;
    margin-left: 8px;
}
.list .item-text {
    /* padding-top: 16px; */
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    line-height: normal;
    height: 35px;
}

.items .list{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.quote{
    padding-top: 6px;
    padding-bottom: 24px;
}
.quote span{

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.4);
}
.invite{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
 .item-text b{
    font-size: 16px;
}
.invite .item-text{

}
.invite .items {
    padding-top: 0px !important;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;

    height: 118px;
}
.profile .open .arrow{
    border-color: white;
}
.profile .open{
    background-color: transparent !important;
    color: white !important;
}
.openProfile .exit{
    color:#e31e24 !important;
}
.openProfile a{
    color:black !important;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;



}
.openProfile hr{
    margin-top: 6px;
    margin-bottom: 6px;
}
.openProfile{
    padding: 16px 16px;
    padding-bottom: 0px;
    position:absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.profile .nameLink{
    color: white;
}

.listMenu .active{
    display: flex;
    justify-content: space-between;

    width: 100%;
}
.listMenu .triangle{
    border: 10px solid transparent;
    border-right: 16px solid #eeeeee;
    margin-right: 0 !important;
    position: relative;
    right: -16px;

}
