.logo > img {
width: 100%;
}
.logo_stamp{
    width: 80px;
}
.logo{
    //background-image: url();
    height: 50px !important;
    width: 80px!important;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border-radius:49%;
    padding: 3px;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 150px;
}
.marLeft{

}
a, a:focus, a:visited, a:active{
    color: white;
    text-decoration: none;
}
.videoKeeper{
    position: relative;
    min-height: 500px;
}
.is_overlay{ display: block; width: 100%; height: 100%; }
#trailer {

    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    filter: brightness(55%);
    position: absolute;

    width: 100%;
    height: 100%;

}
.header{
    position: absolute;
    top: 0;
    left: 15%;
}
#trailer  video {
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;*/


    /*height: 100%;*/
}
.menu{
    padding-top: 15px;
    color: white;
    height: 65px;
    width: 100%;
}
.menu .elems{
    width: 100%; z-index: 1;
    margin-left: 104px;
}
.arrow{
    width: 10px !important;
    height: 10px;
    transform: rotate(-45deg);
    border-radius: 2px;
    background-color: transparent;
    display: inline-block;
    border: 2px solid;
    border-color: white;
    z-index: 1000;
    border-top: none;
    border-right: none;
    vertical-align: -webkit-baseline-middle;
    margin-left: 15px;
}
.open .arrow{
    width: 10px !important;
    height: 10px;
    transform: rotate(-45deg);
    border-radius: 2px;
    background-color: transparent;
    display: inline-block;
    border: 2px solid;
    border-color: white;
    z-index: 1000;
    border-bottom: none;
    border-left: none;
    vertical-align: -webkit-baseline-middle;
    margin-left: 15px;
}
.menu .elems div{
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    font-size: 16px;
    height: 100%;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    //width: 15%;
}
.menu  .link.open{
    background-color: white;
    color:black;
}
.bordered{
    border: 1px solid  white ;
    border-radius: 4px;
}
.link{
    padding: 5px 15px;

vertical-align: middle;
    display: block;
    height: 40px;
    z-index: 1;
    margin: 5px 0;
}
