<html>
<head>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
<div id="app">
    <div class="videoKeeper">
        <div id="trailer" class="is_overlay">
            <div  >
                <video id="video"  autoplay  loop  muted>
                    <source src="./images/video.mp4">
                </video>
            </div>
        </div>
    </div>
    <div class=" header" >
    <div class="row menu">

        <div class="elems">
            <div class="logo"><img class="img" src="./images/logo.png"></div>
              <template v-for="item in menu">
                  <div :class="{marLeft:item.margin, profile:item.profile}" >
                      <img v-if="item.beforeIco" :src="'./images/'+item.beforeIco">
                      <a
                        v-bind:href="item.url"
                        class="link"
                        :id="'link_'+item.id"
                        v-on:click="openMenu(item.id)"
                        :class="{bordered: item.border, open: item.open, ico:item.beforeIco, 'marLeft': item.margin}"
                      >
                          <p class="nameLink">{{item.name}}</p>
                          <p class="arrow" v-if="item.link"></p>
                      </a>
                          <div
                                  class="openmenu"
                                  v-if="item.link && item.open && !item.profile"
                                  :style="{'min-width':item.width}"
                          >
                              <a
                                      class="empty"
                                      :style="{width:item.width}"
                              >
                              </a>
                              <div class="listMenu">
                                  <div class="categories">
                                      <template v-for="child in item.children">
                                          <a

                                                  :class="{active : activeUnder === (child.id+1)}"
                                                  v-on:mousemove="activeUnder=child.id+1"
                                          >
                                              {{child.name}}
                                              <div  v-if="activeUnder === (child.id+1)" :style="" class="triangle"></div>
                                          </a>

                                      </template>

                                  </div>
                                  <div
                                          class="underCategories"
                                          v-if="activeUnder"
                                  >
                                      <a>
                                          <b>
                                              {{item.children[activeUnder-1].name}}
                                          </b>
                                      </a>
                                      <a
                                              v-for="under in item.children[activeUnder-1].under"
                                              :href="under.url"
                                      >
                                          {{under.name}}
                                      </a>

                                  </div>
                              </div>


                          </div>
                      <div class="openProfile"  v-if="openProfile && item.profile " :style="{top:item.coord.bottom,left:item.coord.left, width:item.coord.right - item.coord.left}">
                               <template v-for="link in item.children">
                                   <a :class="{exit:link.exit}" ><hr v-if="link.exit">{{link.name}}</a>

                               </template>

                      </div>

                  </div>
              </template>
        </div>
    </div>
    <div class="block marTop50">
        <div class="head-block">
           <p class="title">Твой личный помощник</p>
           <p class="downtitle">сервис для поиска товаров и услуг</p>
        </div>

        <div class="form-block large">
            <div class="search-input">
                <input type="text" placeholder="Что нужно сделать?">
                <button class="btn">Создать заказ</button>
            </div>
            <div class="helpers">
                <p>Например, <u>отремонтировать кран</u></p>
            </div>

        </div>
        <div class="block marTop32">
            <div class="form-block small">
                <div class="phone-input">
                    <input type="text" placeholder="+7 ( _ _ _ ) _ _ _ — _ _ — _ _">
                    <button class="btn">
                        Заказать<br>по телефону
                    </button>
                </div>
                <div class="helpers">
                    <p>Введите свой номер телефона</p>
                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="page">
        <div class="page-nav">
            <template v-for="item in nav">
            <div class="nav-item">
                <div class="nav-ico" v-if="item.ico"><img :src="'./images/'+item.ico"></div>
                <div class="nav-name">{{item.name}}</div>
                <div class="nav-arrow" v-if="item.name"></div>
            </div>
            </template>
        </div>
        <section class="gray how">
            <div class="section-header">Как это работает</div>
            <div class="container block">
                <div class="item large col-md-4">
                <div> <img src="./images/memo_1f4dd.png"></div>
                    <p class="item-header">Создайте задание</p>
                    <p class="item-text">Опишите задачу которую, потребуется выполнить.</p>
                </div>
                <div class="item large  col-md-4">
                    <div><img src="./images/public-address-loudspeaker_1f4e2.png"></div>
                    <p class="item-header">
                        Исполнители предложат вам
                        свои цены и услуги
                    </p>
                    <p class="item-text">
                        Уже через пару минут, мы подберем подходящего исполнителя.
                    </p>
                </div>
                <div class="item large  col-md-4">
                    <div><img src="./images/1f44d.png"></div>
                    <p class="item-header">Создайте задание</p>
                    <p class="item-text">Опишите задачу которую, потребуется выполнить.</p>
                </div>
            </div>

        </section>
        <section class="">
            <div class="section-header">Услуги спецтехники</div>
            <div class="container block">
                <div class="item small"><img src="./images/spec/1 (1).png"><p class="item-text">Эвакуаторы и автовозы</p></div>
                <div class="item small"><img src="./images/spec/1 (2).png"><p class="item-text">Автокраны</p></div>
                <div class="item small"><img src="./images/spec/1 (3).png"><p class="item-text">Автовышки (Мехрука)</p></div>
                <div class="item small"><img src="./images/spec/1 (4).png"><p class="item-text">Бетоновозы (Миксер)</p></div>
                <div class="item small"><img src="./images/spec/1 (5).png"><p class="item-text">Бетононасосы</p></div>
                <div class="item small"><img src="./images/spec/1 (6).png"><p class="item-text">Краны-Манипуляторы</p></div>
                <div class="item small"><img src="./images/spec/1 (7).png"><p class="item-text">Самосвалы и тонары</p></div>
                <div class="item small"><img src="./images/spec/1 (8).png"><p class="item-text">Экскаваторы</p></div>
                <div class="item small"><img src="./images/spec/1 (9).png"><p class="item-text">Мини-Экскаваторы</p></div>
                <div class="item small"><img src="./images/spec/1 (10).png"><p class="item-text">Экскаваторы-Погрузчики</p></div>
                <div class="item small"><img src="./images/spec/1 (11).png"><p class="item-text">Фронтальные погрузчики (КУН)</p></div>
                <div class="item small"><img src="./images/spec/1 (12).png"><p class="item-text">Бульдозеры</p></div>
                <div class="item small"><img src="./images/spec/1 (13).png"><p class="item-text">Гидромолоты</p></div>
                <div class="item small"><img src="./images/spec/1 (14).png"><p class="item-text">Ямобуры</p></div>
                <div class="item small"><img src="./images/spec/1 (15).png"><p class="item-text">Роторные траншеекопатели</p></div>
                <div class="item small"><img src="./images/spec/1 (16).png"><p class="item-text">Ассенизаторы и илососы</p></div>
                <div class="item small"><img src="./images/spec/1 (17).png"><p class="item-text">Автоводовозы</p></div>
                <div class="item small"><img src="./images/spec/1 (18).png"><p class="item-text">Бензовозы и автоцистерны</p></div>
                <div class="item small"><img src="./images/spec/1 (19).png"><p class="item-text">Низкорамные  тралы</p></div>
                <div class="item small"><img src="./images/spec/1 (20).png"><p class="item-text">ГНБ (Прокол)</p></div>
                <div class="item small"><img src="./images/spec/1 (21).png"><p class="item-text">Установка для бурения скважин</p></div>
            </div>

        </section>
        <section class="gray">
            <div class="section-header">Экспресс-доставка и перевозка грузов</div>
            <div class="container block">
                <div class="item small"><img src="./images/ecs/1 (1).png"><p class="item-text">Курьерские услуги</p></div>
                <div class="item small"><img src="./images/ecs/1 (2).png"><p class="item-text">Экспресс-доставка до 30 кг.</p></div>
                <div class="item small"><img src="./images/ecs/1 (3).png"><p class="item-text">Перевозка грузов газелью до 3,5 тонн</p></div>
                <div class="item small"><img src="./images/ecs/1 (4).png"><p class="item-text">Перевозка груза до 20 тонн</p></div>
                <div class="item small"><img src="./images/ecs/1 (5).png"><p class="item-text">Перевозка автовозом</p></div>
                <div class="item small"><img src="./images/ecs/1 (6).png"><p class="item-text">Перевозка спецтехники</p></div>
                <div class="item small"><img src="./images/ecs/1 (7).png"><p class="item-text">ЖД перевозки по России</p></div>

            </div>
        </section>
        <section class="">
            <div class="section-header">Популярные услуги</div>
            <div class="container block">
                <div class="item small"><img src="./images/popular/1 (1).png"><p class="item-text">Электрик</p></div>
                <div class="item small"><img src="./images/popular/1 (2).png"><p class="item-text">Сантехник</p></div>
                <div class="item small"><img src="./images/popular/1 (3).png"><p class="item-text">Стирка ковров</p></div>
                <div class="item small"><img src="./images/popular/1 (4).png"><p class="item-text">Жалюзи и рольставни</p></div>
                <div class="item small"><img src="./images/popular/1 (5).png"><p class="item-text">Натяжные потолки</p></div>
                <div class="item small"><img src="./images/popular/1 (6).png"><p class="item-text">Металло-пластиковые окна</p></div>
                <div class="item small"><img src="./images/popular/1 (7).png"><p class="item-text">Строительство фундаментов</p></div>
                <div class="item small"><img src="./images/popular/1 (8).png"><p class="item-text">Кованые изделия и ворота</p></div>
                <div class="item small"><img src="./images/popular/1 (9).png"><p class="item-text">Аренда опалбуки</p></div>
                <div class="item small"><img src="./images/popular/1 (10).png"><p class="item-text">Аренда бетономешалки</p></div>
                <div class="item small"><img src="./images/popular/1 (11).png"><p class="item-text">Аренда перфоратора</p></div>
                <div class="item small"><img src="./images/popular/1 (12).png"><p class="item-text">Аренда сварочного аппарата</p></div>
                <div class="item small"><img src="./images/popular/1 (13).png"><p class="item-text">Алмазное сверление</p></div>
                <div class="item small"><img src="./images/popular/1 (14).png"><p class="item-text">Озеленение и благоустройство территории</p></div>
                <div class="item small"><img src="./images/popular/1 (15).png"><p class="item-text">Ремонт кондиционеров</p></div>
                <div class="item small"><img src="./images/popular/1 (16).png"><p class="item-text">Ремонт стиральных машин</p></div>
                <div class="item small"><img src="./images/popular/1 (17).png"><p class="item-text">Ремонт телефонов</p></div>
                <div class="item small"><img src="./images/popular/1 (18).png"><p class="item-text">Ремонт компьютеров</p></div>
                <div class="item small"><img src="./images/popular/1 (19).png"><p class="item-text">ТО и автодиагностика</p></div>
                <div class="item small"><img src="./images/popular/1 (20).png"><p class="item-text">Установка газового оборудования</p></div>
                <div class="item small"><img src="./images/popular/1 (21).png"><p class="item-text">Подготовка к ОГЭ и ЕГЭ</p></div>
                <div class="item small"><img src="./images/popular/1 (22).png"><p class="item-text">Фото и видео услуги</p></div>
                <div class="item small"><img src="./images/popular/1 (23).png"><p class="item-text">Косметология</p></div>
                <div class="item small"><img src="./images/popular/1 (24).png"><p class="item-text">Цена на металло-продукцию</p></div>
                <div class="item small"><img src="./images/popular/1 (25).png"><p class="item-text">Цены на кровельные материалы</p></div>
                <div class="item small"><img src="./images/popular/1 (26).png"><p class="item-text">Цены на пиломатериалы</p></div>
                <div class="item small"><img src="./images/popular/1 (27).png"><p class="item-text">Стоимость отделочных работ</p></div>
                <div class="item small"><img src="./images/popular/1 (28).png"><p class="item-text">Стоимость медицинских услуг</p></div>

            </div>
        </section>
        <section class="marTop24 nowpar gray">
            <section class="container short">
                <div class="help">
                    <div class="section-header">
                        Персональный помощник в вашем кармане
                    </div>
                    <div class="item-text">
                        Скачайте наше приложение Cлужба «Девятки» и пользуйтесь, где бы вы ни находились.
                    </div>
                    <div class="item-text">
                        <a href="https://itunes.apple.com/ru/app/id1009394447" target="_blank">
                            <img src="http://46.254.20.19//bitrix/components/mlab/appforsale.download/templates/.default/images/badge-download-on-the-app-store-ru.png">
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=net.malahovsky.appforsale" target="_blank">
                            <img src="http://46.254.20.19//bitrix/components/mlab/appforsale.download/templates/.default/images/google-play-badge.png">
                        </a>
                    </div>
                </div>

                <div class="phone-img">
                    <img src="./images/iphone.png">
                </div>
            </section>

        </section>

    </div>


</div>
<section class="footer">
    <div class="container">
        <div class="row">

            <div class=" info col-md-6">
                <div class="item-text"><b>Информация</b></div>
                <div class="items">
                    <div class="list col-md-6 pl-0">
                     <div class="item-text">О нас</div>
                <div class="item-text">Как создать задание</div>
                <div class="item-text">Как стать исполнителем</div>
                    </div>

                    <div class="list col-md-6 pl-0">
                    <div class="item-text">Наш блог</div>
                    <div class="item-text">Частые вопросы</div>
                    <div class="item-text">Политика конфеденциальности</div>
                    </div>
                </div>
             </div>
            <div class=" col-md-3">

                    <div class="item-text"><b>Контакты</b></div>
                    <div class="items">
                        <div class="list">
                        <div class="item-text">
                            <img style="transform: scale(-1, 1)" src="./images/call.svg">
                            <p> +7 (8712) 999-999</p>
                        </div>
                        <div class="item-text">
                            <img  src="./images/clock.svg">
                            <p>Пн-Вс: круглосуточно</p>
                        </div>
                        <div class="item-text">
                            <img src="./images/mail.svg">
                            <p> info@999999.ru</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class=" invite col-md-3">


                    <div class="item-text"><b>Присоединяйтесь к нам</b></div>
                    <div class="items">

                        <div class="item-text" style="  display: flex;
    justify-content: center;">
                            <img src="./images/icoSoc.png" usemap="#map">
                            <map name="map">
                                <area  alt="Вконтакте"
                                       shape="rect" coords="0,0, 32,32"
                                       href="https://www.vk.com">
                                <area  alt="Facebook"
                                       shape="rect" coords="48,0, 80,32"
                                       href="https://www.facebook.com">
                                <area  alt="Instagram"
                                       shape="rect" coords="96,0, 128,32"
                                       href="https://www.instagram.com">
                                <area  alt="YouTube"
                                       shape="rect" coords="144,0, 176,32"
                                       href="https://www.youtube.com">
                            </map>
                        </div>
                        <div class="item-text">
                                <img src="./images/store.png" usemap="#map2">
                                <map name="map2">
                                    <area
                                           shape="rect" coords="0,0, 95,29"
                                           href="https://itunes.apple.com/ru/app/id1009394447">
                                    <area
                                           shape="rect" coords="100,0, 190,29"
                                           href="https://play.google.com/store/apps/details?id=net.malahovsky.appforsale" >

                                </map>
                            </div>

                    </div>


            </div>

        </div>
        <div class="quote">
            <span>© 2019 Служба «Девятки»</span>
        </div>

    </div>

</section>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./js/script.js" type="text/javascript"></script>
</body>
</html>

